html,body {
    overflow-x: hidden;
    background-color: #282828 ;
}
/*Font*/
@font-face { font-family: Myriad Pro; src: url('../fonts/MyriadPro-Regular.otf'); }
@font-face { font-family: Poppins; src: url('../fonts/Poppins-Medium.ttf'); }

/*Task 1*/


.box-container {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 5px 21px 22px 25px;
    height: 100%;
}

/*Tooltip Start*/
.tooltip-container{
    height: 98px;
}

.tooltip {
    position: relative;
    margin-left: -6px;
}

.tooltip .tooltiptext {
    visibility: visible;
    background-color: #424242;
    color: #fff;
    font-family: 'Myriad Pro',sans-serif;
    text-align: center;
    border-radius: 6px;
    font-size: 17px;
    padding: 20px 18px;
    margin: 22px auto;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 97%;
    font-family: 'Montserrat',sans-serif;
    margin-left: -19px;
    border-width: 13px;
    border-style: solid;
    border-color: #424242 transparent transparent transparent;
}

.tooltip-message {
    font-family: 'Montserrat',sans-serif;
}

/*Tooltip End*/

.info-container{
    border: 1px solid #ddd;
    width: 98%;
    margin: 0 auto;
    margin-left: 0;
    height: 100%;
}

.info {
    text-align: justify;
    padding: 10px 21px;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    color: #878787;
}

.info-reset{
    margin-top:15px;
}

.info .content {
    color: #ef5f3c;
    font-size: 13px;
}

/*FORM*/

.block-form{
    height: 20%;
    width: 100%;
    overflow: hidden;
}

.form-container{
    padding: 10px 20px;
    overflow: hidden;
    margin-top: 12px;
    position: relative;
    margin-bottom: 12px;
    width: 96%;
}

.container-column {
    width: 100%;
}

.input-reset {
    width: 60%;
    border: 1px solid rgba(220, 220, 220, 0.53);
    padding: 17px 36px;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 5px;
    height: 40px;
    box-shadow: 0px 1px 2px rgba(136, 136, 136, 0.41);
    font-family: "Poppins Medium",sans-serif;
}

.dollar{
    position: absolute;
    display: block;
    left: 29px;
    top: 40px;
    z-index: 9;
    color: rgba(130, 130, 130, 0.74);
    font-size: 23px;
    font-family: "Poppins Medium",sans-serif;
}

/*BUTTON*/

.btn-success {
    color: #fff;
    width: 92%;
    font-family: "Poppins Medium",sans-serif;
    background-color: #1cbc2c;
    border-color: #4cae4c;
    padding: 22px 28px;
    font-size: 25px;
}

.btn-default {
    width: 95%;
    background-color: unset !important;
    border: 1px solid #ddd !important;
    margin-top: 25px !important;
    font-size: 21px;
    font-family: 'Poppins',sans-serif;
    color: #878787;
    padding: 18px 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-container {
    height: 30%;
    width: 100%;

}

.success-button-reset {
    margin-left: -7px;
}

.button-container-reset {
    overflow: hidden;
    width: 106%;
}

.container-column.mobile-device{
    margin-bottom: 20px;
}
/*Button End*/

.text-query {
    font-size: 14px;
    color: #20a1d8;
    font-style: italic;
    clear: both;
    font-family: 'Montserrat',sans-serif;
    padding: 9px 5px 5px;
}

/*Progress bar*/

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    height: 20px;
    background-color: #f1a165;
}

/*Media Query*/
@media only screen and (min-width: 420px) {
    .input-reset
    {
        width: 70%;
    }
}
@media only screen and (min-width: 480px) {
    .input-reset {
        width: 71%;
    }
}

@media only screen and (min-width: 500px) {
    .success-button-reset {
        margin-left: 0px;
    }

    .box-container {
        height: 100%;
    }

    .meter {
        margin-left: -22px;
        width: 106%;
    }

    .info-container {
        margin-left: 4px;
        width: 96%;
    }

    .input-reset {
        width: 71%;
        margin-left: 0;
    }
}

@media only screen and (min-width: 544px) {

    .tooltip-container {
        height: 96px;
    }

    .box-x {
        width: 73%;
        height: 575px;
    }

    .tooltip {
        margin-left: -3px;
    }

    .info-container {
        width: 100%;
        margin: 0 auto;
    }

    .input-reset {
        margin-left: 6px;
        margin-top: 8px;
        font-size: 24px;
        width: 75%;
    }

    .dollar{
        top: 42px;
        left: 40px;
        font-size: 26px;
    }

    .success-button-reset {
        margin-left:8px;
    }
}

@media only screen and (min-width: 767px) {
    .dollar{
        top: 33px;
        left: 40px;
        font-size: 26px;
    }

    .meter {
        margin-left: -22px;
        width: 105%;
    }
}


@media only screen and (min-width: 768px) {
    .container-column.mobile-device{
        margin-bottom: 0;
    }

    .success-button-reset {
        margin-left: 0;
    }

    .container-column {
        width: 50%;
        float:left;
    }

    .box-container {
        width: 546px;
        height: 100%;
    }

    .tooltip .tooltiptext {
        width: 90%;
        font-size: 27px
    }

    .tooltip {
        margin-left: 0px;
    }

    .info-container {
        width: 97%;
        margin-left: 6px;
    }

    .info {
        padding: 10px 21px;
        font-size: 20px;
        margin-top: 20px;
    }

    .info .content {
        font-size: 21px;
        font-weight: 600;
    }

    .price {
        font-weight: 600;
        font-size: 28px;
        font-family: 'Myriad Pro',sans-serif;
    }

    .input-reset {
        width:140px;
        font-size: 24px;
        margin: 0;
    }

    .btn {
        margin-left: 7px;
    }

    .btn-default{
        width: 84%;
    }

    .btn-container {
        height: 30%;
        width: 50%;
        float: left;
    }

}

@media only screen and (min-width: 992px) {
    .box-container {
        height: 100%;
        width: 546px;
    }
    .input-reset {
        width: 135px;
        margin-left: 5px;
    }
    .btn-success {
        width: 219px;

    }
    .btn-default {
        width: 232px;
    }

}




