.list-container {
    margin-top: 30px;
    background-color: #437698;
}
.to-do {

    display: inline-block;
    background-color: #1b95e0;
    width: calc(100% - 45px);
    padding: 8px;
    margin: 16px -5px 10px 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
}
.count{
    display: inline-block;
    text-align: center;
    background-color: #5ac3da;
    width: 45px;
    padding: 8px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
.dropdown-list {
    border-radius: 7px;
    list-style-type: none;
    padding: 0;
}
.dropdown-list li {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.dropdown-list li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-list li:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

ul:empty::after{
    content: attr(data-empty-message);
}
.reset-input {
    font-size: 14px!important;
    height: 42px;
}
.m-t-40{
    margin-top: 40px;
}
.pill-total {
    background-color: #5ac3da;
    padding: 9px 15px;
    width: 100px;
    text-align: center;
    float: right;
    color: #fff;
    border-radius: 4px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/*Toaster*/

#message {
    right: 14px;
    position: fixed;
    visibility: hidden;
    width: 302px;
    background-color: #2ecc71;
    color: #fff;
    font-family: 'Myriad Pro', sans-serif;
    border-radius: 6px;
    font-size: 18px;
    top: 0;
    padding: 20px 31px;
    margin: 22px auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

#message.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 1;}
    to {top: 0; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 1;}
    to {top: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: 0; opacity: 0.5;}
}

@keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: 0; opacity: 0.5;}
}

/*End Toaster*/

@media screen and (max-width: 544px) {
    .col-xxs-12{
        width: 100% !important;
    }
    .pill-total{
        width: 100%;
        margin-top: 10px;
    }
}
